home-venv/lib/python3.11/site-packages/cities_light/data/alternateNames.zip
home-venv/lib/python3.11/site-packages/cities_light/data/alternateNames.txt
home-venv/lib/python3.11/site-packages/cities_light/data/alternateNames.zip
home-venv/lib/python3.11/site-packages/cities_light/data/alternateNames.txt
alternateNames.txt
alternateNames.zip
*.pyc