{% extends 'main.html' %}
{% load static %}
{% load humanize %}


{% block content %}

<div class="container filtered_properies-container">
    <div class="form">

    <form class="row" method="get">
        {% for field in form %}
        <div class="{% if field.label == 'City' %}col-sm-12{% else %}col-sm-4{% endif %} d-flex pt-3">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="col">
                {% if field.field.widget.attrs.is_checkbox %}
                {% for choice in field.field.choices %}
                <div class="form-check d-inline-flex">
                    <!-- <div class="d-flex"> -->

                    <input class="form-check-input" type="checkbox" name="{{ field.name }}" id="{{ field.auto_id }}_{{ forloop.counter0 }}" value="{{ choice.0 }}">
                    <label class="form-check-label" for="{{ field.auto_id }}_{{ forloop.counter0 }}">
                        {{ choice.1 }}
                    </label>
                    <!-- </div> -->
                </div>
                {% endfor %}
                {% else %}
                {{ field }}
                {% endif %}
            </div>
        </div>
        {% endfor %}




        {% if messages %}
        <ul class="messages mx-2">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

        <div class="buttons">
            <input type="submit" class="btn btn-info btn-lg btn-block" value="Filter"
                formaction="{% url 'filtered_properties' property_type_slug='default_property_type' advert_type_slug='default_advert_type' %}">
            <a class="btn ml-auto d-flex justify-content-end"
                href="{% url 'filtered_properties' property_type_slug='default_property_type' advert_type_slug='default_advert_type' %}">
                Reset </a>
        </div>

    </form>
    </div>
    <div class="container bg-light">
        <div class="row justify-content-start py-3 border bg-light">
            {% for property in properties %}
            <div class="col-sm-3 pb-3">
                <div class="bg-body p-3">
                    <p>{{ property.city }}</p>
                    <h3>{{ property.advert_type }}</h3>
                    <p>{{ property.property_type }}</p>      
                    <p>£{{ property.price|intcomma }}</p>
                    <p> 
                        {{ property.total_floors }}
                        {{ property.bedrooms }}
                        {{ property.bathrooms }}
                    </p>
                </div>
            </div>
            {% empty %}
            <p class="p-3">No properties found.</p>
            {% endfor %}
        </div>
    </div>

</div>




{% endblock content %}