{% extends 'main.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% include 'dal_select2/includes.html' %}
{% load image_tags %}


{% block content %}

<div class="container images-gallery pt-5">
    {% include './images_gallery.html' %}
</div>
<div class="container property_form">
    {% if property.pk and request.user == property.creator %}
    <div class="text-right">
        <a class="btn btn-info mt-3" href="{% url 'property_form' property.pk %}">Update</a>
    </div>
    {% endif %}
    <div class="form-group row">
        {% for field in form %}
        <div class="col-sm-4 d-flex">
            {% if 'title' not in field.name and 'photo' not in field.name %}
                <label for="{{ field.id_for_label }}" class="pr-1">{{ field.label }}</label>
            {% endif %}
            {% if field.name == 'title' %}
                <h5>{{ field.value }}</h5>
            {% elif field.name == 'price' %}
                <p>£{{ field.value|intcomma }}</p>
            {% elif field.name != 'cover_photo' %}
                <p>{{ field.value }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <div class="col-sm-4 d-flex">
            <p>Listed by: <a href="{% url 'user_profile' property.creator.id %}">{{ property.creator.username }}</a></p>
        </div>
        <div class="col-sm-4 d-flex">    
            <p>Created: {{ property.created }}</p>
        </div>
        <div class="col-sm-4 d-flex">
            <p>Last updated: {{ property.updated }}</p>
        </div>    
    </div>
    <div class="buttons align-text-bottom d-flex align-items-end pb-4"> 
        <input type="button" value="Back" class="btn btn-outline-secondary align-text-bottom" onclick="history.back()">
        {% if request.user == property.creator %}
        <a type="button" data-bs-toggle="modal" hx-get="{% url 'delete_modal' 'property' property.pk  %}"
        hx-target="#dialog" class="btn btn-danger ml-3">
         Delete
     </a>
     {% endif %}
    </div>
    <h2 class="border-top py-3">Most Popular Properties</h2> 
</div>

{% include './properties_gallery.html' with properties=properties %}

{% endblock content %}