{% extends 'main.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% include 'dal_select2/includes.html' %}


{% block content %}

<div class="container property_form pb-3">
    <h2 class="pt-2">{{ action }} Property</h2> 
    <form method="post"  class="form-group row">
        {% csrf_token %}
        {{ form.media }}
        {% for field in form %}
        <div class="col-sm-4 py-2">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:"form-control" }}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="buttons align-text-bottom d-flex align-items-end my-2">
            <button type="submit" class="btn btn-info align-text-bottom">{{ action }} Property</button>
            {% if not pk %}
            <button type="submit" class="btn btn-outline-secondary align-text-bottom mx-3">Save for Later</button>
            {% endif %}
            {% if action == 'Update' %}
            <a type="button" data-bs-toggle="modal" hx-get="{% url 'property_delete' property.pk  %}"
            hx-target="#dialog" class="btn btn-danger ml-3">
                Delete
            </a>
        {% endif %}
        </div>
        
    </form>
</div>

{% endblock content %}
