{% extends 'main.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% include 'dal_select2/includes.html' %}


{% block content %}

<div class="container property_form pb-3">
    <h2 class="pt-2">{{ action }} Property</h2> 
    <form method="post"  enctype="multipart/form-data" class="form-group row">
        {% csrf_token %}
        {{ form.media }}
        {% for field in form %}
        <div class="col-sm-4 py-2">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:"form-control" }}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="col-sm-4 d-flex pt-2">
            <p>Listed by: {{ property.creator.username }}</p>
        </div>
        <div class="col-sm-4 pt-2">    
            <p>Created: {{ property.created }}</p>
            <p>Last updated: {{ property.updated }}</p>
        </div>
        <div class="col-sm-10 d-flex align-text-bottom align-items-end">
            <button type="submit" class="btn btn-info align-text-bottom">{{ action }} Property</button>
            {% if not pk %}
            <button type="submit" class="btn btn-outline-secondary align-text-bottom mx-3">Save for Later</button>
            {% endif %}
            {% if action == 'Update' %}
            <a type="button" data-bs-toggle="modal" hx-get="{% url 'delete_modal' 'property' property.pk %}"
            hx-target="#dialog" class="btn btn-danger ml-3">
                Delete
            </a>
            {% endif %}
           
            
        </div>
        <div class="col-sm-2 text-right">
            <input type="button" value="Back" class="btn btn-outline-secondary align-text-end" onclick="history.back()">
        </div>
        
    </form>
</div>

{% endblock content %}
