{% load static %}
{% load humanize %}
{% load image_tags %}


{% block content %}

<div class="container">
    <div class="row justify-content-start">
        {% for property in properties %}
        <div class="col-sm-3 py-3 border-bottom d-flex flex-column justify-content-between">

           {% if property.cover_photo|has_image %}
            <img src="{{ property.cover_photo.url }}" class="img-fluid rounded w-100 pb-1" style="max-height: 12rem;">
            {% else %}
            <img src="{% static 'images/default_img.jpg' %}" alt="Default Image" class="img-fluid rounded w-100 pb-1" style="max-height: 12rem;">
            {% endif %}
            
            <p class="mb-0">£{{ property.price|intcomma }}</p>
            <p class="mb-0">{{ property.title }}</p>
            <p class="mb-1">{{ property.city }}</p>  
            <a class="ml-auto" href="{% url 'property_form' property.pk %}"> Update</a>
            <a class="btn btn-warning btn-md btn-block" href="{% url 'property_view' property.pk %}">View all details</a>          
        </div>
        {% empty %}
        <p>No properties found.</p>
        {% endfor %}
    </div>
</div>

{% endblock content %}