{% load static %}
{% load humanize %}
{% load image_tags %}


{% block content %}

<div class="container">
    {% if request.user.is_authenticated %}
    <div class="row justify-content-end px-3">
        <form method="get" action="{% url 'generate_pdf' %}">
            <input type="hidden" name="title" value="{{ request.GET.title }}">
            <input type="hidden" name="city" value="{{ request.GET.city }}">
            <input type="hidden" name="advert_type" value="{{ request.GET.advert_type }}">
            <input type="hidden" name="property_type" value="{{ request.GET.property_type }}">
            <input type="hidden" name="price_min" value="{{ request.GET.price_min }}">
            <input type="hidden" name="total_floors" value="{{ request.GET.total_floors }}">
            <input type="hidden" name="bedrooms" value="{{ request.GET.bedrooms }}">
            <input type="hidden" name="bathrooms" value="{{ request.GET.bathrooms }}">
            <button class="btn btn-outline-info btn-md btn-block", type="submit">Download PDF</button>
        </form>
    </div>
    {% endif %}
    <div class="row justify-content-start">
        {% for property in properties %}
        <div class="col-sm-3 py-3 border-bottom d-flex flex-column justify-content-between">

            {% if property.cover_photo %}
            <a href="{% url 'property_view' property.pk %}">
                <img src="{{ property.cover_photo.url }}" class="img-fluid rounded w-100 pb-1" id="cover-photo">
            </a>
            {% else %}
            <a href="{% url 'property_view' property.pk %}">
                <img src="{% static 'images/default_img.jpg' %}" class="img-fluid rounded w-100 pb-1"
                    id="default-cover-photo">
            {% endif %}
            </a>
            <p class="mb-0">£{{ property.price|intcomma }}</p>
            <p class="mb-0">{{ property.title }}</p>
            <p class="mb-1">{{ property.city }}</p>

            {% if property.pk and request.user == property.creator %}
            <a class="ml-auto" href="{% url 'property_form' property.pk %}"> Update</a>
            {% endif %}
            <a class="btn btn-warning btn-md btn-block" href="{% url 'property_view' property.pk %}">View all
                details</a>
        </div>
        {% empty %}
        <p>No properties found.</p>
        {% endfor %}
    </div>
</div>

{% endblock content %}