/* main.css */


#avatar img,
#default-cover-photo,
#cover-photo {
    max-height: 12rem;
    width: auto;

}

.select2-container--default .select2-selection--single,
#advert_type,
#property_type {
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    padding-top: 0;
    padding-bottom: 0;
    height: 39px !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;

}

.select2-container--default .select2-selection--single .select2-selection__arrow,
#advert_type, #property_type {
    height: calc(1.5em + 0.75rem + 2px) !important;
    line-height: 39px;

}

.select2-container--default .select2-selection--single .select2-selection__rendered,
#advert_type,
#property_type{
    line-height: calc(1.5em + 0.75rem + 2px) !important;

}

#advert_type,
#property_type {
    min-width: 140px;

}

#property_type:first-of-type,
#advert_type:first-of-type {
    padding-left: 8px;
    margin-left: 2px;

}

h1,
h2,
h3 {
    color: #B81761;
    font-family: sans-serif;

}

.app-title {
    font-family: "Gill Sans", sans-serif;
    color: black;

}

#user-container {
    height: 23rem;
    margin: 0;

}

/* property images gallery */

:root {
    --bootstrap-sm: 12rem;
    --bootstrap-md: 15rem;
    --bootstrap-lg: 18rem;
    --bootstrap-xl: 24reem;
  }
  
  #gallery {
    max-height: 40rem; 
    overflow: auto; 

  
    img {
        width: 100%; 
        height: auto;
        object-fit: cover;
        padding-bottom: 1.5rem;
        
        @media (min-width: var(--bootstrap-sm)) {
          height: auto; 
        }
        
        @media (min-width: var(--bootstrap-lg)) {
          height: auto; 
        }
        
      }
  }
  
  .carousel-item {
    
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      
      @media (min-width: var(--bootstrap-sm)) {
        height: auto;
      }
    }
  }
  
  
  * {
    transition: 0.3s;
  }
  
  #gallery.custom {
    padding: 0 15px;
    
    img {
      display: block;
      margin: 15px 0;
      border-radius: 300px 30px 300px 300px;
      
      &:hover {
        border-radius: 30px 90px 30px 30px;
      }
    }
  }
  
  #galleryModal.custom {
    .modal-content {
      background-color: none;
      border: none;
    }
    
    .modal-header {
      border:none;
      
      button {
        background-color: none;
        border-radius: 100px 100px 0 0;
        padding: 5px 10px;
        opacity: 1;
        position: relative;
        top: 3px;
        border: solid 2px white;
        
        @media (min-width: var(--bootstrap-lg)) {
          top: 15px;
        }
        
        &:hover {
          top: 3px;
        }
      }
      
      span {
        color: white;
      }
    }
    
    .modal-body {
      padding: 0;
      border: none;
      position: relative;
      
      &::before, &::after {
        content: '';
        height: 50px;
        width: 50px;
        display: block;
        position: absolute;
        background-color: white;
        border-radius: 3px 10px;
        
        @media (min-width: var(--bootstrap-md)) {
          border-radius: 3px 30px;
          height: 100px;
          width: 100px;
        }
      }
      
      &::before {
        top: -5px;
        left: -5px;
        
        @media (min-width: var(--bootstrap-md)) {
          top: -15px;
          left: -15px;
        }
      }
      
      &::after {
        bottom: -5px;
        right: -5px;
        z-index: -1;
        
        @media (min-width: var(--bootstrap-md)) {
          bottom: -15px;
          right: -15px;
        }
      }
    }
    
    .modal-footer {
      border: none;
      margin-top: 60px;
      
      @media (min-width: var(--bootstrap-lg)) {
        margin-top: 40px;
      }
      
      .btn {
        margin: auto;
        border: solid 2px white;
        background-color: none;
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 0.1em;
        font-weight: bold;
        padding: 0.2em 0.7em;
        
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
    
    .carousel-control-prev, .carousel-control-next {
      font-size: 2em;
      top: auto;
      opacity: 1;
      bottom: -52px;
      
      @media (min-width: var(--bootstrap-md)) {
        top: 0;
        opacity: 0.5;
        bottom: 0;
      }
    }
    
    .carousel-control-next-icon,  .carousel-control-prev-icon {
      height: 30px;
      width: 30px;
    }
    
    .carousel-control-prev {
      @media (min-width: var(--bootstrap-md)) {
        left: -90px;
      }
    }
    
    .carousel-control-next {
      @media (min-width: var(--bootstrap-md)) {
        right: -90px;
      }
    }
    
    .carousel-indicators {
      bottom: -60px;
      
      @media (min-width: var(--bootstrap-lg)) {
        bottom: -30px;
      }
      
      li {
        height: 30px;
        border-radius: 100px;
        background-color: none;
        border: solid 2px white;
        
        @media (min-width: var(--bootstrap-lg)) {
          height: 10px;
        }
        
        &:hover {
          background-color: white;
        }
        
        &.active {
          background-color: white;
        }
      }
    }
  }
  
  /* --- END: custom styling demo --- */
  
  
  /* --- BEGIN: style switch --- */
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    
    @media (min-width: var(--bootstrap-sm)) {
      margin: 0;
    }
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
/* --- END: style switch --- */